#about {
    position: relative;
    background-image: url("../assets/laundromat-with-girl-legs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    text-wrap: balance;
}

#about p {
    margin-top: 1.85rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    #about {
        padding-left: 5%;
        padding-right: 5%;
    }

    #about p {
        font-size: 1rem !important;
    }
}