#download {
    position: relative;
    max-width: 100vw;
    background-color: var(--background-color);
    color: white;
    text-align: left;
    display: flex;
    justify-content: start;
    padding: 0;
    padding-left: 6.25rem;
    flex-direction: row;
    overflow: hidden;
}


#download #textcontainer {
    position: relative;
    margin-top: 3.75rem;
    margin-bottom: auto;
    margin-left: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2.25rem;
}

#download #textcontainer .header1 {
    line-height: 1.75rem;
}

#download #textcontainer .header2 {
    line-height: 2.75rem;
    margin-bottom: 0;
}

#download #textcontainer .header3 {
    margin: 0;
    width: 35rem;
    line-height: 2rem;
}

#download #laundromat {
    position: relative;
    bottom: 0px;
    right: 0px;
    transform: translate(10%, 20%);
    height: 30rem;
    width: 60rem;
    border-radius: 30px;
    border: 10px solid #3d414c;
    object-fit: cover;
}

#store-buttons-container {
    display: flex;
    flex-direction: row;
    width: 15vw;
    height: 5vw;
    margin-bottom: 8vw;
    margin-top: 2vw;
    gap: 2vw;
}

#store-buttons-container img {
    object-fit: contain;
    max-width: 100%;
}

@media screen and (max-width: 800px) {

    #download {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }

    #store-buttons-container {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-content: center;
    }
    

    #download #textcontainer {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #download #laundromat {
        bottom: 0px;
        left: 10px;
        transform: translate(0%, 40px);
        width: calc(100% - 40px);
    }
}