
footer {
    position: relative;
    text-align: center;
    line-height: 8.5vw;
    background-color: var(--background-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    height: 8.5vw;
    font-size: 1vw;
}

#footer-links {
    color: #5daaff;
}
