footer {
    position: relative;
    line-height: 8.5vw;
    background-color: var(--background-color);
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    height: 9.5rem;
    font-size: 1rem;
    padding-left: 8%;
    padding-right: 8%;
}

#footer-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #5daaff;
    margin: auto;
}

#footer-links .separator {
    color: rgb(94, 100, 129);
}

#footer-links span {
    position: relative;
}

#copyright {
    justify-self: end;
    margin-left: auto;
}

footer img {
    justify-self: flex-start;
    height: 23%;
    margin-right: auto;
    margin-left: 0px
}

@media screen and (max-width:800px) {
    #footer-links .separator {
        display: none;
    }

    footer img {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    #footer-links {
        flex-direction: column;
        text-align: center;
        gap: 0;
        border-top: 1px solid rgb(85, 85, 85);
        border-bottom: 1px solid rgb(85, 85, 85);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #footer-links span {
        line-height: 1.6rem;
    }

    #footer-links span::after {
        display: none;
    }

    #copyright {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}