#how-it-works {
    position: relative;
    width: 100%;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    display: flex;
    justify-content: start;
    padding-top: 5rem;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    #how-it-works {
        padding-top: 2rem;
        padding-bottom: 2.8rem;
    }

    #how-it-works-buttons {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    #how-it-works-buttons button {
        width: 6rem !important;
    }

    #how-it-works .card .button {
        height: 2rem !important;
        width: 5rem !important;
        line-height: 2rem !important;
    }

    #how-it-works .card-container {
        margin-top: 2.25rem !important;
    }
}


#how-it-works .card-container {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.1rem;
}

@media screen and (max-width:1000px) {
    #how-it-works .card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        gap: 1.75rem;
    }

    #how-it-works .card p {
        font-size: 1rem !important;
        margin-top: 0.75rem;
    }

    #how-it-works .card {
        width: 13rem !important;
    }
}

#how-it-works .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    user-select: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#how-it-works .card p {
    position: relative;
    font-size: 1.25rem;
}

#how-it-works .card .content {
    position: relative;
    width: 12.5rem;
    border-radius: 1rem;
    height: 12.5rem;
    background-color: #F0F3F6;
}

#how-it-works .card .content .inner-content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10.5rem;
    height: 10.5rem;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#how-it-works .card .content .number {
    position: absolute;
    top: -1.75rem;
    left: -1.75rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    line-height: 3rem;
    border: 0.35rem solid var(--background-color);
}

#how-it-works-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.75rem;
}

#how-it-works-buttons button {
    width: 7.5rem;
}

#card-nearest:hover #blinking-cursor {
    display: inline;
}

#blinking-cursor {
    display: none;
    animation: 1s linear infinite blink;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Washer animations */

/* TODO: tinker with the second card animation to match the one shown in the demo video */

/* Second card 😭 */

@keyframes path-animation {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: var(--length);
    }
    50.01% {
        stroke-dashoffset: calc(var(--length)*-1);
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes path-animation-2 {
    0% {
        stroke-dashoffset: calc(var(--length) / 5);
    }
    50% {
        stroke-dashoffset: var(--length);
    }
    50.01% {
        stroke-dashoffset: calc(var(--length)*-1);
    }
    100% {
        stroke-dashoffset: calc(var(--length) / 5);
    }
}

@keyframes path-animation-3 {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: var(--length);
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#card-pick:hover #second-card-washer .washer-paths-2 {
    stroke-dasharray: var(--length);
    stroke-dashoffset: 0;
    animation: 2s linear infinite path-animation-3;
    animation-fill-mode: forwards;
}


#card-pick:hover #second-card-washer .washer-path-3 {
    stroke-dasharray: var(--length);
    stroke-dashoffset: 0;
    animation: 2s linear infinite path-animation-2;
    animation-fill-mode: forwards;
}

#card-pick:hover #second-card-washer .washer-paths-1 {
    stroke-dasharray: var(--length);
    stroke-dashoffset: 0;

    animation: 2s linear infinite path-animation;
    animation-fill-mode: forwards;
}

/* 3rd card related stuff */
#card-start:hover #washer-rotating-part {
    transform-origin: 45.5px 49.5px;
    animation: 1s linear infinite spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}