#how-it-works {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    display: flex;
    justify-content: start;
    padding-top: 10vh;
    flex-direction: column;
}

#how-it-works .card-container {
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7vw;
}

#how-it-works .card {
    position: relative;
    display: block;
    width: 250px;
    height: 280px;
    user-select: none;
}

#how-it-works .card p {
    position: absolute;
    bottom: 0px;
    font-size: 1.2vw;
}

#how-it-works .card .content {
    position: absolute;
    top: 0px;
    left: calc(50% - 100px);
    width: 200px;
    border-radius: 15px;
    height: 200px;
    background-color: #F0F3F6;
}

#how-it-works .card .content .inner-content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 165px;
    height: 165px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#how-it-works .card .content .number {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    line-height: 50px;
    border: 6px solid var(--background-color);
}

#how-it-works-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

#card-nearest:hover #blinking-cursor {
    display: inline;
}

#blinking-cursor {
    display: none;
    animation: 1s linear infinite blink;
}



@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}