#locations {
    position: relative;
    width: 100%;
    background-image: linear-gradient(white, #ebf3fd);
    color: black;
    text-align: center;
    display: flex;
    justify-content: start;
    padding-top: 2.25rem;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 3.75rem;
}

#locations .card-container {
    padding-top: 2.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    gap: 1.5rem;

}

#locations .card:hover {
    transform: translate(0%, -10px);
    background-color: white;
}

#card1 {
    border: 1px solid #dde6f6;
    border-bottom: 1px solid #cfd9e6;
}

#locations #card1:hover {
    border: 1px solid #5aa9f8;
    border-bottom: 1px solid gray;
}

#locations #card2:hover {
    border: 1px solid gray;
    border-top: 1px solid #5aa9f8;
}

#locations #card3:hover {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid #5aa9f8;
    border-left: 1px solid #5aa9f8;
}

#locations .card {
    transition: 300ms;
    position: relative;
    border: 1px solid #cfd9e6;
    border-radius: 10px;
    text-align: left;
    padding: 2.5%;
    width: 24rem;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

@media screen and (max-width:1300px) {
    #locations .card-container {
        overflow: auto;
        max-width: 100%;
        align-content: stretch;
        flex-shrink: 0;
        justify-content: flex-start;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    #locations .card {
        scroll-snap-align: center;
        flex-shrink: 0;
    }
}

@media screen and (max-width:600px) {
    #locations {
        padding-top: 2.25rem;
        padding-bottom: 1.75rem;
    }

    #locations .header1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    #locations .card-container {
        justify-content: start;
        justify-items: start;
        padding-left: 2.5rem;
        padding-top: 2rem;
    }

    #locations .card {
        width: 18rem;
        height: 17.5rem
    }

    #locations .button {
        margin-top: 1.25rem !important;
        width: 9.5rem !important;
        height: 2.5rem !important;
    }
}

#locations .card .location {
    justify-self: end;
    border-top: 1px solid #cfd9e6;
    width: 100%;
    font-size: 1.12rem;
    display: flex;
    flex-direction: column;
    justify-items: end;
    justify-content: end;
    padding-top: 1.25rem;
}

#locations .card h1 {
    margin-top: 0;
    font-size: 1.1rem;
}

#locations .card p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}