header {
    background-color: var(--background-color);
    width: 100%;
    margin: 0px;
    color: white;
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #353543;
    z-index: 1;
    height: 100px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
    height: auto;
    user-select: none;
    font-size: 1.2rem;
    line-height: 2.5rem;

}


header nav a {
    display: inline-block;
    position: relative;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 0px;
    transition: 200ms;
    height: 2px;
    background-color: white;
}

header nav a:hover::after {
    width: 100%;
}

header img {
    margin-left: 5vw;
    height: 35%;
}



#download-login-container {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--secondary-text-color);
    margin-right: 5vw;
    font-size: 1.2rem;
}

@media screen and (max-width: 900px){
    /* TODO: burger */
    header nav {
        display: none;
    }

    #download-login-container {
        display: none;
    }
}

