header {
    background-color: var(--background-color);
    height: 8vw;
    width: 100%;
    margin: 0px;
    color: white;
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #353543;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
    height: auto;
    user-select: none;
    font-size: 1.2vw;
    line-height: 2.3vw;

}

header nav a {
    display: inline-block;
    position: relative;
    
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 0px;
    transition: 200ms;
    height: 2px;
    background-color: white;
}

header nav a:hover::after {
    width: 100%;
}

header img {
    margin-left: 5vw;
    height: 35%;
}

#download-login-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

#download-login-container {
    color: var(--secondary-text-color);
    margin-right: 5vw;
    font-size: 1.2vw;
}

